body {
  font-family: 'Coming Soon', cursive;
  color: GhostWhite !important;
  background-image:url(/assets/images/tweed.png);

  .navbar {
    background: #262626; 

    .navbar-brand {
      color: GhostWhite;
    }
  }

  h1, h2 {
    font-family: 'Coming Soon', cursive;
  }

  .title {
    font-weight: bold;
    font-size: 70px;
    text-shadow: -2px -2px rgba(0, 0, 0, 0.3);
  }
}
